.account{
    border-collapse: collapse;
    margin-top:40px;
    margin-right: auto;
    margin-left: auto;

}

.account__text, .account__price{
    border: 1px solid black; 
    padding: 8px 25px;
    font-size: 25px;
}


